@import "tailwindcss"; 

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700; 
}

p, li, a, span, div {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    line-height: 1.6;
}

header span{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: #181818;
    font-size: 1rem;
}

header a{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: #181818;
    font-size: 1.1rem;
    text-decoration: none;
}

@media (min-width: 992px) {
    header span{
        font-size: 1.5rem;
    } 
}